.cont {
  display: flex;
  flex-wrap: wrap;
 
}
.top-images{
  display: flex;
  margin-top: 10px;
}
.bottom-images{
  display: flex;
  margin-top: 10px;
  
  
}
.picture1,
.picture2{
  
  max-width: 97%;
  margin-left: 10px;
}
.picture3,
.picture4 {
  
  height: auto; 
  margin: 10px;
  max-width: 97%;
}
.picture3{
  width: 730px;
}

.picture3,
.picture4 {
  width: 750px;
  height: 600px; 
}
.firstset,
.secondset,
.thirdset,
.fourthset{
 position: relative;
 display: inline-block;
}
.text1,
.text2
{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  z-index: 1; 
  line-height: 1px;
  cursor: pointer;
}
.text3,
.text4
{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  z-index: 1; 
  line-height: 1px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .top-images,
  .bottom-images {
    flex-direction: column; 
  }
}