.footer{
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    height: auto;
    padding-top: 2rem;
    
    
}
p{
    color: lightgray;
}
@media (max-width:425px){
   .footer{
    font-size: 0.7rem;
   }
}
@media (max-width:320px){
   .footer{
    font-size: 0.6rem;
   }
}